<div class="row">
    <div class="content" [ngClass]="{'col-md-12':!sideBarExpanded, 'col-md-9':(sideBarExpanded)}">
        <div class="row">
            <h2>{{title}}
                <div class="dropdown pull-right">
                    <a href="javascript:void(0)" id="dropdownMenu" data-toggle="dropdown">
                        <span class="fa fa-th"></span>
                    </a>
                    <a *ngIf="!isSelected&&!onChangingProgress" href="javascript:void(0)" (click)="toggleSideBar()">
                        <span class="fa fa-bars"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-top" aria-labelledby="dropdownMenu">
                        <li class="dropdown-iconized">
                            <a href="javascript:void(0)" (click)="toggleForm()">
                                <i class="fa fa-plus-circle"></i>
                                Add new Post
                            </a>
                        </li>
                        <li class="dropdown-iconized">
                            <a href="javascript:void(0)" (click)="showExpandedView(false)">
                                <i class="fa fa-th-list"></i>
                                View List
                            </a>
                        </li>
                        <li class="dropdown-iconized">
                            <a href="javascript:void(0)" (click)="showExpandedView(true)">
                                <i class="fa fa-table"></i>
                                Show Expanded
                            </a>
                        </li>
                    </ul>
                </div>
            </h2>
            <hr/>
            <h4 class="whiteSmokeBg" [hidden]="!filtered">Filtered By Category: {{selectedCategory}}
                <a href="javascript:void(0)" (click)="removeFilter()">
                    <span class="fa fa-close"></span>
                </a>
            </h4>
        </div>
        <div class="row" [hidden]="onChangingProgress||isSelected">
            <ul class="post-grid" *ngIf="!expandedView">
                <li *ngFor="let post of filteredBlogs" class="col-sm-4" (click)="blogSelected(post)">
                    <h3>{{post.Title}}</h3>
                    <p>{{post.Content|slice:0:70}}...</p>
                    <p class="text-right">By {{post.PostedBy}}</p>
                    <p class="text-right">On {{post.PostedOn | date: 'MMM dd'}} at {{post.PostedOn | date: 'h:m a'}}</p>
                </li>
            </ul>
            <ul *ngIf="expandedView">
                <li *ngFor="let post of filteredBlogs" (click)="blogSelected(post)">
                    <div class="post">
                        <div>
                            <h2>{{post.Title}}</h2>
                            <img [src]="post.Image" [hidden]="!post.Image" />
                            <cite>by {{post.PostedBy}} on {{post.PostedOn}}</cite>
                            <div class="post-body">
                                <p>
                                    {{post.Content}}
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="post" *ngIf="isSelected">
                <a href="javascript:void(0)" style="padding-left:0;padding-right:0;margin-right:30px;" (click)="deleteBlog()" class="btn pull-right">
                    <span class="fa fa-close"></span>&nbsp;Delete</a>
                <div>
                    <img [src]="selectedBlog.Image" [hidden]="!selectedBlog.Image" />
                    <cite>by {{selectedBlog.PostedBy}} on {{selectedBlog.PostedOn}}</cite>
                    <div class="post-body">
                        <p>
                            {{selectedBlog.Content}}
                        </p>
                    </div>
                </div>
            </div>
            <div *ngIf="onChangingProgress">
                <form name="postForm" novalidate>
                    <h4>Title</h4>
                    <input type="text" name="Title" [(ngModel)]="currentBlog.Title" />
                    <h4>Body</h4>
                    <textarea name="Content" [(ngModel)]="currentBlog.Content" ng-list="/\n/" rows="10"></textarea>
                    <label for="Image">Featured Image URL</label>
                    <input type="text" name="Image" [(ngModel)]="currentBlog.Image" placeholder="http://placekitten.com/g/2000/600" />
                    <label for="PosteBy">By:</label>
                    <input type="text" name="PostedBy" [(ngModel)]="currentBlog.PostedBy" placeholder="Author Name" required/>
                    <label for="Category">Category</label>
                    <input type="text" name="Category" [(ngModel)]="currentBlog.Category" placeholder="Eg: Cookie " />
                    <button type="button" class="btn btn-primary" (click)="saveBlog()">
                        <span class="fa fa-check-circle"></span>&nbsp;&nbsp;Save</button>
                </form>
            </div>
        </div>
    </div>
    <div id="mySidenav" class="sidenav col-md-3 left-sidenav lightsteelblueBg" [hidden]="!sideBarExpanded">
        <label class="title">Categories
            <span (click)="toggleSideBar()" class="fa fa-close closeBtn"></span>
        </label>
        <hr/>
        <ul class="list-unstyled">
            <li *ngFor="let category of categories" (click)="categorySelected(category.Title)" style="cursor: pointer;" [ngClass]="{'active':this.selectedCategory==category.Title}">
                {{category.Title}} ({{category.Count}})
            </li>
        </ul>
    </div>
</div>