<div class="content">
    <div class="container">
        <div class="row" [hidden]="onChangingProgress||isSelected">
            <ul class="post-grid">
                <li *ngFor="let post of blogs" class="col-sm-4" (click)="blogSelected(post)">
                    <h3>{{post.Heading}}</h3>
                    <p>{{post.Content|slice:0:70}}...</p>
                    <p class="text-right">By {{post.PostedBy}}</p>
                    <p class="text-right">On {{post.PostedOn | date: 'MMM dd'}} at {{post.PostedOn | date: 'h:m a'}}</p>
                </li>
            </ul>
        </div>
        <div class="row" [hidden]="isSelected">

            <a href="javascript:void(0)" (click)="toggleForm()" class="btn btn-control">
                <span [hidden]="!onChangingProgress">
                    <span class="fa fa-angle-double-left"></span> Back to All Posts</span>
                <span [hidden]="onChangingProgress">Add New Post</span>
            </a>
        </div>
        <div class="row">
            <div class="post" [hidden]="!isSelected">
                <a href="javascript:void(0)" (click)="blogSelected()" class="btn btn-control">
                    <span class="fa fa-angle-double-left"></span> Back to All Posts
                </a>
                <div>
                    <h2>{{selectedBlog.Heading}}</h2>
                    <img [src]="selectedBlog.Category" [hidden]="!selectedBlog.Category" />
                    <cite>by {{selectedBlog.PostedBy}} on {{selectedBlog.PostedOn}}</cite>
                    <div class="post-body">
                        <p>
                            {{selectedBlog.Content}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="post" [hidden]="!onChangingProgress">
                <h2>Add New Post</h2>
                <form name="postForm" novalidate>
                    <h4>Title</h4>
                    <input type="text" name="Heading" ng-model="currentBlog.Heading" />
                    <h4>Body</h4>
                    <textarea name="Content" [(ngModel)]="currentBlog.Content" ng-list="/\n/" rows="10"></textarea>
                    <label for="">Featured Image URL</label>
                    <input type="text" name="Category" [(ngModel)]="currentBlog.Category" placeholder="http://placekitten.com/g/2000/600" />
                    <label for="">By:</label>
                    <input type="text" name="PostedBy" [(ngModel)]="currentBlog.PostedBy" placeholder="Author Name" required/>
                    <button type="button" class="btn btn-primary" (click)="addPost()">Submit</button>
                </form>
            </div>
        </div>
    </div>

</div>