
    <article id="post-223" class="post-223 page type-page status-publish hentry">
        <div class="header">
            <header class="entry-header">
                <h1 class="entry-title">Community</h1>
            </header>
        </div>
        <div class="container">
            <div class="entry">
                    <h4 class="whiteSmokeBg" [hidden]="!filtered">Filtered By Category: {{selectedCategory}}
                            <a href="javascript:void(0)" (click)="removeFilter()">
                                <span class="fa fa-close"></span>
                            </a>
                        </h4>
                <div class="entry-content">
                    <div class="row">
                        <div class="col-sm-9">
                            <div class="event-blog" *ngFor="let post of filteredBlogs">
                                <div class="post_con">
                                    <figure class="featured-img">
                                        <a href="" title="Community">
                                            <img width="728" height="486" [src]="post.Image" class="img-responsive aligncenter wp-post-image" alt="Georgia Reproductive Specialists">
                                            <cite>By {{post.PostedBy}} on {{post.PostedOn| date:'MMM dd'}}</cite>
                                        </a>
                                    </figure>

                                    <div class="blog_con">
                                        <p>
                                            {{post.Content}}
                                        </p>
                                    </div>
                                </div>
                                <hr>
                                <div class="pagin">
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="col-sm-3">
                            <aside id="secondary" class="sidebar blog_sidebar widget-area" role="complementary">
                                <div class="categories">
                                    <header>
                                        <h3>Blog Categories</h3>
                                    </header>
                                    <div class="bsb_content">
                                        <ul>
                                            <li *ngFor="let category of categories" (click)="categorySelected(category.Title)" style="cursor: pointer;" [ngClass]="{'active':this.selectedCategory==category.Title}"
                                                class="cat-item cat-item-281">
                                                <a>{{category.Title}} ({{category.Count}})</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="clearfix"></div>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
