<style>
    .nav-justified li a{
        border: 0px;
    }
</style>
<nav>
    <div class="container">
        <div class="nav-top clearfix">
            <div class="logo">
                <a href="" class="navbar-brand">
                    <img src="assets/images/logo.png" alt="Logo" />
                </a>
            </div>

            <div class="head_top_social pull-right">
                <ul class="list-inline">
                    <li>
                        <a href="">
                            <i class="fa fa-skype"></i>Venus IVF Center</a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa fa-phone"></i>013 045 608 65</a>
                    </li>
                    <li class="top_socail">
                        <a href="">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-google-plus"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-pinterest-p"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars"></i>
            </button>
        </div>
    </div>

    <div class="main-nav navbar-collapse collapse">
        <div class="container">
            <div class="minilogo">
                <a href="#home" class="navbar-brand">
                    <img src="assets/images/logo2.png" alt="Logo" />
                </a>
            </div>
            <ul class="nav nav-justified">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#/about/our-practice">About Our Practice</a>
                        </li>
                        <li>
                            <a href="#/about/our-team">Our Medical Team</a>
                        </li>
                        <li>
                            <a href="#">Patient Testimonials</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#lessons">Services</a>
                </li>
                <li>
                    <a href="#blog">BLOG & News</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section class="main-content">


    <article id="post-223" class="post-223 page type-page status-publish hentry">
        <div class="header">
            <header class="entry-header">
                <h1 class="entry-title">Community</h1>
            </header>
        </div>
        <div class="container">
            <div class="entry">
                    <h4 class="whiteSmokeBg" [hidden]="!filtered">Filtered By Category: {{selectedCategory}}
                            <a href="javascript:void(0)" (click)="removeFilter()">
                                <span class="fa fa-close"></span>
                            </a>
                        </h4>
                <div class="entry-content">
                    <div class="row">
                        <div class="col-sm-9">
                            <div class="event-blog" *ngFor="let post of filteredBlogs">
                                <div class="post_con">
                                    <figure class="featured-img">
                                        <a href="" title="Community">
                                            <img width="728" height="486" [src]="post.Image" class="img-responsive aligncenter wp-post-image" alt="Georgia Reproductive Specialists">
                                            <cite>By {{post.PostedBy}} on {{post.PostedOn| date:'MMM dd'}}</cite>
                                        </a>
                                    </figure>

                                    <div class="blog_con">
                                        <p>
                                            {{post.Content}}
                                        </p>
                                    </div>
                                </div>
                                <hr>
                                <div class="pagin">
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="col-sm-3">
                            <aside id="secondary" class="sidebar blog_sidebar widget-area" role="complementary">
                                <div class="categories">
                                    <header>
                                        <h3>Blog Categories</h3>
                                    </header>
                                    <div class="bsb_content">
                                        <ul>
                                            <li *ngFor="let category of categories" (click)="categorySelected(category.Title)" style="cursor: pointer;" [ngClass]="{'active':this.selectedCategory==category.Title}"
                                                class="cat-item cat-item-281">
                                                <a>{{category.Title}} ({{category.Count}})</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="clearfix"></div>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>


<section id="footer_widget" class="footer_widget">
    <div class="container">
        <div class="row">
            <div class="main_widget">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="single_widget wow fadeIn" data-wow-duration="800ms">
                            <div class="footer_logo">
                                <img src="assets/images/logo2.png" alt="" />
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in egestas lectus. Etiam tempor odio
                                tellus, at bibendum neque faucibus quis. Sed vel facilisis elit. </p>
                            <p>Nullam fringilla pharetra diam non accumsan. Morbi eget aliquam mauris. Etiam vehicula efficitur
                                mi.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="single_widget wow fadeIn" data-wow-duration="800ms">
                            <h4 class="footer_title">CONTACT</h4>
                            <div class="separator3"></div>
                            <ul>
                                <li>
                                    <a href="">
                                        <i class="fa fa-envelope"></i> info@venusivfcenter.com</a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="fa fa-phone"></i> 0123 456 789 0112</a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="fa fa-map-marker"></i> Baneshwor, Kathmandu</a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="fa fa-fax"></i> (0012) 654 356 445</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="single_widget wow fadeIn" data-wow-duration="800ms">
                            <h4 class="footer_title">LATEST NEWS</h4>
                            <div class="separator3"></div>
                            <ul>
                                <li class="single_latest_news">
                                    <p class="latest_date">02.08.2015</p>
                                    <p class="subtitle">Etiam tempor odio tellus.</p>
                                    <p class="details">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in egestas lectus. Etiam
                                        tempor odio tellus.</p>
                                </li>

                                <li class="single_latest_news">
                                    <p class="latest_date">02.08.2015</p>
                                    <p class="subtitle">Etiam tempor odio tellus.</p>
                                    <p class="details">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in egestas lectus. Etiam
                                        tempor odio tellus.</p>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





<footer id="footer" class="footer">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <div class="copyright_text text-center">
                    <p class=" wow fadeInRight" data-wow-duration="1s">Made with
                        <i class="fa fa-heart"></i> by
                        Solstice IT Solutions 2018. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </div>
</footer>


<div class="scrollup">
    <a href="#">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>