<style>
    .nav-justified li a{
        border: 0px;
    }
</style>
<nav>
    <div class="container">
        <div class="nav-top clearfix">
            <div class="logo">
                <a href="" class="navbar-brand">
                    <img src="assets/images/logo.png" alt="Logo" />
                </a>
            </div>

            <div class="head_top_social pull-right">
                <ul class="list-inline">
                        <li>
                                <a href="">
                                    <i class="fa fa-skype"></i>Venus IVF Center</a>
                            </li>
                    <li>
                        <a href="">
                            <i class="fa fa-phone"></i>013 045 608 65</a>
                    </li>
                    <li class="top_socail">
                        <a href="">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars"></i>
            </button>
        </div>
    </div>

    <div class="main-nav navbar-collapse collapse">
        <div class="container">
            <div class="minilogo">
                <a href="#home" class="navbar-brand">
                    <img src="assets/images/logo2.png" alt="Logo" />
                </a>
            </div>
            <ul class="nav nav-justified">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#/about/our-practice">About Our Practice</a>
                        </li>
                        <li>
                            <a href="#/about/our-team">Our Medical Team</a>
                        </li>
                        <li>
                            <a href="#">Patient Testimonials</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#/about/our-practice">About Our Practices</a>
                        </li>
                        <li>
                            <a href="#/about/our-team">Our Medical Team</a>
                        </li>
                        <li>
                            <a href="#">Patient Testimonials</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#blognews">BLOG & News</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section id="home" class="home text-right">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-4">
                    <div class="main_home_content">
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 
<section id="branding-wrapper">
    <div class="section1" style="display:">
        <div class="container">
          <div class="row sec1">
            <div class="col-sm-6">
                          <header>
                <h1>Bringing Hope To Those  <br>With <span>Fertility Challenges</span></h1>            </header>
              <p>The decision to have a baby is an exciting step and a basic desire for so many women and men. Yet, the path to parenthood can sometimes be challenging. It can feel scary to discover you need help having a baby, so it’s important to know that you are not alone.</p>
  <p>At&nbsp;<span class="s1"><strong>Shady Grove Fertility Atlanta</strong>, formerly Georgia Reproductive Specialists,&nbsp;</span>we offer both emotional and physical care to our patients who are having trouble building their family, surrounding them with a medical and laboratory team that is not just top in its field, but compassionate as well. <em>We know that every situation is different, which is why we customize our approach for each patient</em>.</p>
                        </div>
            <div class="col-sm-6 hright">
                                      <img src="https://www.ivf.com/wp-content/uploads/sites/295/2017/04/wimg.jpg" alt="Georgia Reproductive Specialists" width="596" height="411" class="size-full img-responsive wel-sec wp-image-1497">
  
                                    </div>
          </div>
        </div>
      </div>
</section>
<section id="testimonial" class="testimonial">
    <div class="container">
        <div class="row">
            <div class="main_testimonial_area sections text-center">
                <div class="head_title">
                    <h2>TESTIMONIALS</h2>
                    <div class="separator"></div>
                </div>
                <div class="main_testimonial_content owl-carousel owl-theme owl-responsive--1 owl-loaded">
                    
                    

                <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-2340px, 0px, 0px); transition: 0s; width: 7020px;"><div class="owl-item cloned" style="width: 1170px; margin-right: 0px;"><div class="single_testimonial">
                        <div class="single_test_thumbnail">
                            <img class="img-circle img-responsive" src="assets/images/man3.png" alt="">
                        </div>
                        <div class="single_test_content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in egestas lectus. Etiam tempor odio tellus,
                                at bibendum neque faucibus quis. Sed vel facilisis elit. Nullam fringilla pharetra diam non accumsan. 
                                Morbi eget aliquam mauris. Etiam vehicula efficitur mi.</p>

                            <div class="single_author_content">
                                <h2>Andreea Koronikova</h2>
                                <p>Music Teacher</p>
                            </div>
                        </div>
                    </div></div><div class="owl-item cloned" style="width: 1170px; margin-right: 0px;"><div class="single_testimonial">
                        <div class="single_test_thumbnail">
                            <img class="img-circle img-responsive" src="assets/images/man3.png" alt="">
                        </div>
                        <div class="single_test_content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in egestas lectus. Etiam tempor odio tellus,
                                at bibendum neque faucibus quis. Sed vel facilisis elit. Nullam fringilla pharetra diam non accumsan. 
                                Morbi eget aliquam mauris. Etiam vehicula efficitur mi.</p>

                            <div class="single_author_content">
                                <h2>Andreea Koronikova</h2>
                                <p>Music Teacher</p>
                            </div>
                        </div>
                    </div></div><div class="owl-item active" style="width: 1170px; margin-right: 0px;"><div class="single_testimonial">
                        <div class="single_test_thumbnail">
                            <img class="img-circle img-responsive" src="assets/images/man3.png" alt="">
                        </div>
                        <div class="single_test_content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in egestas lectus. Etiam tempor odio tellus,
                                at bibendum neque faucibus quis. Sed vel facilisis elit. Nullam fringilla pharetra diam non accumsan. 
                                Morbi eget aliquam mauris. Etiam vehicula efficitur mi.</p>

                            <div class="single_author_content">
                                <h2>Andreea Koronikova</h2>
                                <p>Music Teacher</p>
                            </div>
                        </div>
                    </div></div><div class="owl-item" style="width: 1170px; margin-right: 0px;"><div class="single_testimonial">
                        <div class="single_test_thumbnail">
                            <img class="img-circle img-responsive" src="assets/images/man3.png" alt="">
                        </div>
                        <div class="single_test_content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in egestas lectus. Etiam tempor odio tellus,
                                at bibendum neque faucibus quis. Sed vel facilisis elit. Nullam fringilla pharetra diam non accumsan. 
                                Morbi eget aliquam mauris. Etiam vehicula efficitur mi.</p>

                            <div class="single_author_content">
                                <h2>Andreea Koronikova</h2>
                                <p>Music Teacher</p>
                            </div>
                        </div>
                    </div></div><div class="owl-item cloned" style="width: 1170px; margin-right: 0px;"><div class="single_testimonial">
                        <div class="single_test_thumbnail">
                            <img class="img-circle img-responsive" src="assets/images/man3.png" alt="">
                        </div>
                        <div class="single_test_content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in egestas lectus. Etiam tempor odio tellus,
                                at bibendum neque faucibus quis. Sed vel facilisis elit. Nullam fringilla pharetra diam non accumsan. 
                                Morbi eget aliquam mauris. Etiam vehicula efficitur mi.</p>

                            <div class="single_author_content">
                                <h2>Andreea Koronikova</h2>
                                <p>Music Teacher</p>
                            </div>
                        </div>
                    </div></div><div class="owl-item cloned" style="width: 1170px; margin-right: 0px;"><div class="single_testimonial">
                        <div class="single_test_thumbnail">
                            <img class="img-circle img-responsive" src="assets/images/man3.png" alt="">
                        </div>
                        <div class="single_test_content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in egestas lectus. Etiam tempor odio tellus,
                                at bibendum neque faucibus quis. Sed vel facilisis elit. Nullam fringilla pharetra diam non accumsan. 
                                Morbi eget aliquam mauris. Etiam vehicula efficitur mi.</p>

                            <div class="single_author_content">
                                <h2>Andreea Koronikova</h2>
                                <p>Music Teacher</p>
                            </div>
                        </div>
                    </div></div></div></div><div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style=""><i class="lnr lnr-chevron-left"></i></div><div class="owl-next" style=""><i class="lnr lnr-chevron-right"></i></div></div><div class="owl-dots" style="display: none;"></div></div></div>
            </div>
        </div>
    </div>
</section>

<section id="footer_widget" class="footer_widget">
    <div class="container">
        <div class="row">
            <div class="main_widget">


                <div class="row">
                    <div class="col-sm-4">
                        <div class="single_widget wow fadeIn" data-wow-duration="800ms">
                            <div class="footer_logo">
                                <img src="assets/images/logo2.png" alt="" />
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in egestas lectus. Etiam tempor odio
                                tellus, at bibendum neque faucibus quis. Sed vel facilisis elit. </p>
                            <p>Nullam fringilla pharetra diam non accumsan. Morbi eget aliquam mauris. Etiam vehicula efficitur
                                mi.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="single_widget wow fadeIn" data-wow-duration="800ms">
                            <h4 class="footer_title">CONTACT</h4>
                            <div class="separator3"></div>
                            <ul>
                                <li>
                                    <a href="">
                                        <i class="fa fa-envelope"></i> info@venusivfcenter.com</a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="fa fa-phone"></i> 0123 456 789 0112</a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="fa fa-map-marker"></i> Baneshwor, Kathmandu</a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="fa fa-fax"></i> (0012) 654 356 445</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="single_widget wow fadeIn" data-wow-duration="800ms">
                            <h4 class="footer_title">LATEST NEWS</h4>
                            <div class="separator3"></div>
                            <ul>
                                <li class="single_latest_news">
                                    <p class="latest_date">02.08.2015</p>
                                    <p class="subtitle">Etiam tempor odio tellus.</p>
                                    <p class="details">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in egestas lectus. Etiam
                                        tempor odio tellus.</p>
                                </li>

                                <li class="single_latest_news">
                                    <p class="latest_date">02.08.2015</p>
                                    <p class="subtitle">Etiam tempor odio tellus.</p>
                                    <p class="details">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in egestas lectus. Etiam
                                        tempor odio tellus.</p>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</section>





<footer id="footer" class="footer">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <div class="copyright_text text-center">
                    <p class=" wow fadeInRight" data-wow-duration="1s">Made with
                        <i class="fa fa-heart"></i> by
                        Solstice IT Solutions 2018. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </div>
</footer>



<!-- START SCROLL TO TOP  -->

<div class="scrollup">
    <a href="#">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>