<article id="post-1385" class="post-1385 page type-page status-publish hentry">
  <div class="header">
    <header class="entry-header">
      <h1 class="entry-title">Our Medical Team</h1>
    </header>
  </div>
  <div class="container">
    <div class="entry">
      <div class="entry-content">
        <p>Our team of well-respected physicians and embryologists, with over 100 years of combined experience in reproductive
          medicine and the treatment of infertility, includes some of the most accomplished and innovative doctors in this
          area. What’s more, each member of our medical team has been chosen for his or her ability to combine tremendous
          professional ability with compassion and understanding for each patient.</p>
        <div class="drbios bios1">
          <h2 class="sub2text">Dr. Anupama Gurung (Suwal), MBBS, MD in Obstetrics and Gynecology</h2>
          <h3 class="sub3text">Fellowship in Reproductive medicine and Infertility</h3>
          <p>
            <img class="alignright size-full img-responsive subimg wp-image-1803" src={{anupamaGurungImage}}
              alt="Dr. Anupama Gurung (Suwal)" style="max-height: 300px; max-width: 264px;"> Dr. Anupama earned her medical degree (MBBS) from Kathmandu Medical College Teaching Hospital in Nepal. She
            did her Master degree in Obstetrics and gynecology in College of Medical Sciences Teaching Hospital, Bharatpur
            in Nepal. After residency, she was offered to work as a lecturer in the Obstetrics and Gynecology department
            of Kathmandu Medical College Teaching Hospital. She was honored to serve as a lecturer in the department of Obstetrics
            and Gynecology in Nepal Medical College Teaching Hospital.
          </p>
          <p>
            Prior to becoming engaged in only infertility patients, she was actively participating in Health camps in rural areas of
            Nepal and had done many vaginal hysterectomies of Village patients with uterovaginal prolapse. Apart from that
            she had worked as a consultant Obstetrician and Gynecologist in different private health centers.
          </p>
          <p>
            She received her fellowship degree in Reproductive medicine from Rainbow IVF, Agra, India and the course included hands on
            training in IUI, IVF/ART, ultrasonography, laparoscopy and hysteroscopy. She was also honored with a Diplomate
            certificate of Ian Donald School and one year membership during the Ian Donald Obstetrics and Gynecology ultrasound
            course in Delhi, India.
          </p>
          <p>
            She has also received observership training in Natural IVF and minimal stimulation IVF from a German IVF specialist Dr. Markus
            Nitchzke.
          </p>
          <p>
            After that she focused her career in infertility and IVF. She started working as an IVF specialist in Grande City Hospital
            in Nepal and gave pregnancies to many infertile couples. Currently she is persuading her career as an IVF specialist
            in Venus IVF Center . In Nepal, she is one of the few doctors involved in infertility clinics who is genuinely
            trained in this field.
          </p>
          <p>
            She believes in updating her knowledge every second. That is why she had attended many national and international gynecological
            and fertility conferences. She had also done many presentations in national and international conferences and
            received awards at times. She has authored many publications and scientific abstracts on obstetrics, gynecology
            and reproductive medicine.
          </p>
          <p>
            She lives in Kathmandu with her husband and two daughters. She enjoys family travel, reading, gardening, swimming and working
            out at gym.
          </p>
        </div>
        <div class="drbios bios1">
          <h2 class="sub2text">Dr. Vishnukanth Deene</h2>
          <p>
            <img class="alignright size-full subimg img-responsive wp-image-1809" src={{VishnukanthDeeneImage}}
              alt="Dr. Vishnukanth Deene" style="max-height: 300px; max-width: 300px;"> Dr.Deene is Chief Embryologist at IVF centre and is also amongst the top most Embryologists in the country and
            has worked at several top fertility clinics in India and Abroad. in his hands your chance of becoming a parent
            is very high.
          </p>

          <div class="clearfix">
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <!-- .entry-content -->
      <div class="clearfix"></div>
    </div>
  </div>
</article>