<section id="home" class="home text-right" style="margin-top:100px;">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-4">
                    <div class="main_home_content">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="branding-wrapper">
    <div class="section1" style="">
        <div class="container">
            <div class="row sec1">
                <div class="col-sm-12">
                    <header>
                        <h1>Advanced Hysteroscopic surgery
                        </h1>
                    </header>
                    <p><b>Hysteroscopy for infertility:</b></p>
                    <p>
                        A hysteroscopy is a way for your infertility specialist to visualize at the lining of the uterus to check for various abnormalities that can be affect embryo implantation and thereby prevent succesful pregnancy. Hysteroscopy is a day care procedure which is done by a narrow telescope tool passed through vagina and cervix into the uterus. It is mainly used to eliminate fibroids in the uterus or to find the reason for the repeated miscarriages, and this is great diagnostic and therapeutic  tool in evaluating uterine cavity
                    </p>
                    <p>
                        It has many advantages at the same time hysteroscopy is also a safe procedure and it is used to find cause of the problem and provide the detailed information the procedure takes between 10 to 30 minutes. This is recommended for women who are experiencing infertlity due to uterine fibroids,thin Endometrium,Polyps etc.
                    </p>
                    <p><b>Advantages of hysteroscopy:</b></p>
                    <ul style="list-style-type: disc; padding-left: 2em;">
                        <li><p>Hysteroscopy is the best method of observing the problems such as polyps, fibroids of the lining of the uterus.</p></li>
                    </ul>
                    <p>Finally, hysteroscopy play an important role with assisted reproductive technologies to aid infertile women and couples reach their goals of a pregnancy and live birth of a child.</p>
                </div>
            </div>
        </div>
    </div>
</section>