<section id="home" class="home text-right" style="margin-top:100px;">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-4">
                    <div class="main_home_content">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="branding-wrapper">
    <div class="section1" style="">
        <div class="container">
            <div class="row sec1">
                <div class="col-sm-12">
                    <header>
                        <h1 class="article-header">Blastocyst Culture
                        </h1>
                    </header>
                    <p>Blastocyst transfer is a major procedure for In vitro fertilization treatment and it maximises the chances of pregnancy</p>
                    <p>Blastocyst is  a stage of  embryo where it is more than 120 cells and reacches this stage 6 days after the fusion of the sperm and the egg and these embryos can be cultivated for up to six days, up to until they turn out to be blastocysts. At this phase it may be simple to choose the best quality embryos. Using blastocyst transfer, embryos are cultivated in the incubator to the blastocyst stage before they are transferred to the womb. At this moment, one or two of the best quality blastocysts are selected and then transferred. A blastocyst then hatches and attached to the uterus resulting in a succesful pregnancy.</p>
                    <p>Venusivf is privileged to have an embryology team that is amongst the best in the world and is greatly accomplished and a laboratory that is technically advanced. The ability to develop embryos to the blastocyst stage allows our embryology team to have greater confidence about selecting the best embryos to transfer thereby maximising the chance of pregnancy and also reducing the incidence of abnormalities in the pregnancy.</p>
                    <p><b>Blastocyst transfer on Day 5:</b></p>
                    <p>The IVF and blastocyst culture have high success rates to provide high quality embryos which are capable of constant development and result in live births. By using this we can reduce the risks from multiple pregnancies and continue high success rates.</p>
                </div>
            </div>
        </div>
    </div>
</section>