<section id="branding-wrapper">
    <div class="section1" style="">
        <div class="container">
            <div class="row sec1">
                <div class="col-sm-12">
                    <header>
                        <h1 class="article-header">IUI Procedure
                        </h1><div class="separator4"></div>
                    </header>
                    <p><b>Intra Uterine Insemination – Treatment for infertility</b></p>
                    <p>IUI is also one of the treatment options for infertile couples who are planning for a child with the help of IUI treatment. It is an excellent treatment for women with unexplained infertility. It may also be used if you have irregular periods and Anti Sperm Antibodies and it gives better chances of acheiving pregnancy.</p>
                    <p>IUI is also called artificial insemination in which a woman takes drugs only to stimulate egg production without the intention of having eggs retrieved. In this treatment washed sperm is injected directly into the woman’s cervix in order to give the sperm a better chance to fertilise with the eggs. IUI is a better, cheaper and easier treatment for infertile couples.</p>
                    <p><b>Artificial Insemination:</b></p>
                    <p>This is used by many women and couples; the insemination procedure involves placing the washed sperm directly into the uterus. The individual success depends on age, patency of the fallopian tubes, and the partner’s sperm count and motility.</p>
                    <p><b>How artificial insemination works:</b></p>
                    <ul style="list-style-type: decimal; padding-left: 2em;">
                        <li>
                            <p>Here we used an ultrasound scan to check your reproductive health and egg development.</p>
                        </li>
                        <li>
                            <p>The sperm is injected with a catheter through the cervix and into your uterus.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>