<section id="home" class="home text-right" style="margin-top:100px;">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-4">
            <div class="main_home_content">

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="branding-wrapper">
    <div class="section1" style="">
      <div class="container">
        <div class="row sec1">
          <div class="col-sm-12">
            <header>
              <h1 class="article-header">Diagnosis of Infertility
              </h1>
            </header>
            <p>Infertility is a disease that affects abnormal functioning of female and male reproductive system. Most individuals or couples will have the strongly wish for to conceive a baby at some point during their life. Most couples (around 85%) will achieve pregnancy within one year of trying, but in some conditions, infertility acts as a barrier of couples when attempting to conceive. There are huge number of diagnostic technologies available to identify the reason of the infertility, later an infertile couple has go through evolution of a complete medical history and physical exam, a fertility specialist will suggest particular diagnostics tests.</p>
            <p><b>There are two types of infertility:</b></p>
            <p><b>Primary Infertility:</b></p>
            <p>Where someone who has never conceived a child in the past has difficulty conceiving.</p>
            <p><b>Secondary infertility:</b></p>
            <p>Where a person has had one or more pregnancies in the past, but is having difficulty conceiving again.</p>
            <p>There are a lot of different medical methodologies to overcome infertility. The major phase in killing infertility is right identity of the causes in infertility. In order to get an exact analysis, a complete history of each patient’s medical antiquity such things as hormonal patterns, ovulation cycle, and anatomy of the uterus, irregular cycles, fallopian tubes, and sperm shape etc. The complete evaluation will give the doctor indications to the cause of infertility and finally lead to the improvement of an effective treatment plan to have a baby.</p>
            <p><b>Infertility Treatments:</b></p>
            <p>Our fertility treatments are bringing happiness to many families who have ultimately lost hope. We offer all kinds of reproductive procedures to infertile couples such as IVF, ICSI, IUI, etc. In Vitro Fertilization is most greatly suggested technique in solving fertility issues of partners. IVF Treatment is helpful from Causes of infertility.</p>
            <p><b>Causes of infertility:</b></p>
            <p>Poor egg quality, ovulation disorders, problem in Fallopian tube, female age, alcohol use, hormone imbalances, and low sperm count in male, abnormal sperm etc.</p>
            <p><b>Advantages of Infertility Treatments</b></p>
            <ul style="list-style-type: disc; padding-left: 2em;">
                <li><p>Infertility treatments used in assisting single parents to start a family</p></li>
                <li><p>The main advantage is that for couples with certain infertility problems, IVF has the obvious benefit of boosting the chances of getting pregnant.</p></li>
                <li><p>Infertility treatments can help to identify fertilization problems</p></li>
                <li><p>Infertility Treatments helps patients who would be otherwise unable to conceive.</p></li>
                <li><p>Infertility treatments provide the best chance of having a child.</p></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
