<style>
  .nav-justified li a {
    border: 0px;
  }
</style>
<nav>
  <div class="container">
    <div class="nav-top clearfix">
      <div class="logo" style="margin-top: -5px;">
        <a href="">
          <img src={{logoLink}}
            style="height: 80px;padding-bottom:20px;margin-top:-15px;margin-bottom:-5px;" alt="Logo" />
        </a>
      </div>

      <div class="head_top_social pull-right">
        <ul class="list-inline">
          <li>
            <a href="" title="Whatsapp">
              <i class="fa fa-whatsapp"></i> +977 980-838-3703</a>
          </li>
          <li>
            <a href="" title="Phone">
              <i class="fa fa-phone"></i> +977 980-408-5955</a>
          </li>
          <li class="top_socail">
            <a href="https://www.facebook.com/venusisishospital.com.np/" target="_blank">
              <i class="fa fa-facebook"></i>
            </a>
            <!-- <a href="">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="">
                <i class="fa fa-google-plus"></i>
              </a> -->
          </li>
        </ul>
      </div>
      <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-bars"></i>
      </button>
    </div>
  </div>
  <div class="main-nav navbar-collapse collapse">
    <div class="container">
      <div class="minilogo">
        <a href="#home" class="navbar-brand">
          <img src={{logoLink}}
            alt="Logo" />
        </a>
      </div>
      <ul class="nav nav-justified">
        <li class="dropdown">
          <a href="#/home" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About
            <span class="caret"></span>
          </a>

          <ul class="dropdown-menu">
            <li>
              <a href="#/venus/our-practice">About Our Practices</a>
            </li>
            <li>
              <a href="#/venus/our-team">Our Medical Team</a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services
            <span class="caret"></span>
          </a>

          <ul class="dropdown-menu">
            <li>
              <a href="#/venus/services/initial-diagnosis">Initial Diagnosis</a>
            </li>
            <li>
              <a href="#/venus/services/art-procedure">ART Procedure</a>
            </li>
            <li>
              <a href="#/venus/services/ivf-procedure">IVF Procedure</a>
            </li>
            <li>
              <a href="#/venus/services/icsi">Intra Cyto Sperm Injection</a>
            </li>
            <li>
              <a href="#/venus/services/iui-procedure">IUI Procedure</a>
            </li>
            <li>
              <a href="#/venus/services/blastocyst-culture">Blastocyst Culture</a>
            </li>
            <li>
              <a href="#/venus/services/cryopreservation">Cryopreservation</a>
            </li>
            <li>
              <a href="#/venus/services/advanced-hysteroscopic-surgery">Advanced Hysteroscopic Surgery</a>
            </li>
            <li>
              <a href="#/venus/services/operative-video-laparoscopy">Operative Video Laparoscopy</a>
            </li>
            <li>
              <a href="#/venus/services/pre-implantation-genetic-screening">Pre Implantation Genetic Screening</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#/venus/blog-and-news">BLOG & News</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<app-about-us *ngIf="display"></app-about-us>

<section class="main-content">
  <router-outlet>
  </router-outlet>
</section>

<section id="footer_widget" class="footer_widget">
  <div class="container">
    <div class="row">
      <div class="main_widget">


        <div class="row">
          <div class="col-sm-4">
            <div class="single_widget wow fadeIn" data-wow-duration="800ms">
              <h4 class="footer_title">CONTACT</h4>
              <div class="separator3"></div>
              <ul>
                <li class="single_latest_news">
                  <!-- <p class="latest_date">02.08.2015</p> -->
                  <p class="details">
                    <i class="fa fa-envelope"></i> info@venusivfcenter.com</p>
                  <p class="details">
                    <i class="fa fa-phone"></i> +977 980-408-5955</p>
                  <p class="details">
                    <i class="fa fa-map-marker"></i> Mid Baneshwor, Kathmandu</p>
                  <p class="details">
                    <i class="fa fa-whatsapp"></i> +977 980-838-3703</p>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="single_widget wow fadeIn" data-wow-duration="800ms">
              <h4 class="footer_title">OUR BRANCHES</h4>
              <div class="separator3"></div>
              <ul>
                <li class="single_latest_news">
                  <!-- <p class="latest_date">02.08.2015</p> -->
                  <h5 style="color:white;font-family:latolight;">HYDERABAD</h5>
                  <p class="subtitle">Kiran Infertility Center</p>
                  <div class="footer_logo">
                    <img src="http://venusivf.com/wp-content/uploads/2016/05/kic-logo-hd150.png" alt="" />
                  </div>
                  <p class="details">
                    <i class="fa fa-globe"></i>www.kiranivfgenetic.com</p>
                </li>
                <li class="single_latest_news">
                  <!-- <p class="latest_date">02.08.2015</p> -->
                  <h5 style="color:white;font-family:latolight;">GURGAON</h5>
                  <p class="subtitle">Gurgaon Fertility Centre</p>
                  <div class="footer_logo">
                    <img src="http://kiranivfgenetic.com/wp-content/uploads/2016/04/gfn1final.png" alt="" />
                  </div>
                  <p class="details">
                    <i class="fa fa-globe"></i>www.gurgaonfertilitycentre.com</p>
                </li>

              </ul>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="single_widget wow fadeIn" data-wow-duration="800ms">
              <h4 class="footer_title">LOCATIONS</h4>
              <div class="separator3"></div>
              <ul>
                <li class="single_latest_news">
                  <!-- <p class="latest_date">02.08.2015</p> -->
                  <p class="subtitle">Venus IVF Center</p>
                  <p class="details">Third Floor, Venus Hospital,</p>
                  <p class="details">Mid Baneshwor, Kathmandu,</p>
                  <p class="details">Nepal</p>
                </li>

                <li class="single_latest_news">
                  <!-- <p class="latest_date">02.08.2015</p> -->
                  <p class="subtitle">Sai Kiran Hospital & Kiran Infertility Center</p>
                  <p class="details">#6-2-966/4, Lane No 10,</p>
                  <p class="details">Opp. Hindi Prachar Sabha,</p>
                  <p class="details">Besides Nirmala High School, Khairatabad,</p>
                  <p class="details">Hyderabad- 500034 Telangana</p>
                  <p class="details" style="padding-top:10px;">
                    <i class="fa fa-envelope" style="color:rgb(55,55,110);"></i>info@kiranivfgenetic.com</p>
                </li>

                <li class="single_latest_news">
                  <!-- <p class="latest_date">02.08.2015</p> -->
                  <p class="subtitle">Kukatpally- KPHB colony, Beside Manjeera Mall</p>
                  <p class="details" style="padding-top:10px;">
                    <i class="fa fa-envelope" style="color:rgb(55,55,110);"></i>info@lotuskiran.com</p>
                </li>

                <li class="single_latest_news">
                  <!-- <p class="latest_date">02.08.2015</p> -->
                  <p class="subtitle">Gurgaon-sector 14</p>
                  <p class="details" style="padding-top:10px;">
                    <i class="fa fa-envelope" style="color:rgb(55,55,110);"></i>info@gurgaonfertilitycentre.com</p>
                </li>

              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>





<footer id="footer" class="footer">
  <div class="container">
    <div class="row">

      <div class="col-md-12 col-sm-12">
        <div class="copyright_text text-center">
          <p class=" wow fadeInRight" data-wow-duration="1s">Made with
            <i class="fa fa-heart"></i> by Solstice IT Solutions 2018. All Rights Reserved</p>
        </div>
      </div>
    </div>
  </div>
</footer>



<!-- START SCROLL TO TOP  -->

<div class="scrollup">
  <a href="#">
    <i class="fa fa-chevron-up"></i>
  </a>
</div>
