<section id="home" class="home text-right" style="margin-top:100px;">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-4">
                    <div class="main_home_content">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="branding-wrapper">
    <div class="section1" style="">
        <div class="container">
            <div class="row sec1">
                <div class="col-sm-12">
                    <header>
                        <h1>ART Procedure
                        </h1>
                        <h5 style="font-family: latolight;">Assisted Reproductive Technology</h5>
                    </header>
                    <p>
                        <b>Advanced Infertility Procedures:</b>
                    </p>
                    <p>
                        Assisted Reproductive Technology (ART) is a collection of various medical techniques used to aid
                            infertile couples. The ART methods that are popular today:
                    </p>
                    <ol style="list-style-type: decimal; padding-left: 2em;">
                        <li>
                            <p>In Vitro Fertilization Procedure or commonly known as test tube baby</p>
                        </li>
                        <li>
                            <p>Intra cytoplasmic sperm injection</p>
                        </li>
                        <li>
                            <p>Assisted Hatching</p>
                        </li>
                        <li>
                            <p>Intra Uterine Insemination</p>
                        </li>
                        <li>
                            <p>Emryo Donation</p>
                        </li>
                        <li>
                            <p>Egg Donation</p>
                        </li>
                        <li>
                            <p>Sperm Donation</p>
                        </li>
                        <li>
                            <p>Hysteroscopy</p>
                        </li>
                        <li>
                            <p>Laparoscopy</p>
                        </li>
                        </ol>
                        <p>These powerful technologies that are big advantage to the couples those who are not having children.
                            ART treatments offer them a route to achieve their dreams, which it has done for couples around
                            the world and more than three million babies have been born using ART and we ensure that the
                            technologies used are safe for women and children, we respect woman’s right to make her own choice
                            about childbearing, people are motivated to use ART to have a genetically related child. All
                            these above methods are used to treat infertility at the same time these fertility treatments
                            can surely help a couple to conceive a child. Children conceived by Assisted Reproductive Technologies
                            have good relationships with their parents and ART can eliminate the burden of infertility on
                            individuals and families. We are totally committed to creating families and giving opportunities
                            for couples with Infertilityy problems to have a family of their own.</p>
                        <p>
                            <b>In Vitro Fertilization:</b>
                        </p>
                        <p>In Vitro Fertilization is beneficial for women who are infertile due to blocked Fallopian tubes,
                            Anovulation,Decreased ovarian Reserve,Anti Sperm Antibodies,Poly Cystic Ovaries and unexplained
                            infertiity to have their own genetic baby. Several infertility problems can be determined & overcome
                            through this IVF process.</p>
                        <p>
                            <b>ICSI:</b>
                        </p>
                        <p>ICSI gives you and your partner an opportunity to have a baby and it is the main treatment for those
                            who are having male infertility issues such as low sperm count,low sperm motility,increase in
                            abnormal sperm morphology and Azoospermia.</p>
                        <p>
                            <b>Assisted Hatching:</b>
                        </p>
                        <p>This technique commonly is used during the IVF procedure to improve success rates and it is suitable
                            for patients more than 35 years of age as the outer shell/Zona of the embryo becomes thickened
                            and might prevent hatching and thereby implantation.</p>
                        <p>
                            <b>Intra Uterine Insemination:</b>
                        </p>
                        <p>This is one type of assisted reproductive procedure in wished the semen sample is washed and the
                            good quality sperm is isolated and then injected into the uterus of the female partner thereb
                            enabling fertilisation and pregnancy.</p>
                        <p>
                            <b>Embryo Transfer:</b>
                        </p>
                        <p>This is the major part in your IVF treatment; by using a Embryo transfer catheter we can transfer
                            embryos into the uterus of the female to create pregnancy.</p>
                        <p>
                            <b>Chances of success with ART technologies:</b>
                        </p>
                        <p>At venus IVF centre we have Doctors from india and nepal working in collaboration to deliver high quality fertility care and the best results across Nepal.</p>
                </div>
            </div>
        </div>
    </div>
</section>