<nav>
    <div class="container">
        <div class="nav-top clearfix">
            <div class="logo" style="margin-top: -5px;">
                <a href="">
                    <img src={{logoLink}} style="height: 80px;padding-bottom:20px;margin-top:-15px;margin-bottom:-5px;" alt="Logo" />
                </a>
            </div>

            <div class="head_top_social pull-right">
                <ul class="list-inline">
                    <li>
                        <a href="" title="Phone">
                            <i class="fa fa-phone"></i> 01-4490333</a>
                    </li>
                    <li>
                        <a href="" title="Whatsapp">
                            <i class="fa fa-mobile-phone"></i> +977 980-838-3703 , +977 980-408-5955 </a>
                    </li>
                    <li class="top_socail">
                        <a href="https://www.facebook.com/venusisishospital.com.np/" target="_blank">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button" (click)="toggleMenu()">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars"></i>
            </button>
        </div>
    </div>
    <div class="main-nav navbar-collapse collapse" [style.background]="menuBackground">
        <div class="container">
            <div class="minilogo">
                <a href="#home" class="navbar-brand">
                    <img src={{logoLink}} alt="Logo" />
                </a>
            </div>
            <app-menu [menus]="_allMenus" [isRoot]="true"></app-menu>
        </div>
    </div>
</nav>
<section id="home" class="home text-right" *ngIf="isPage('home')">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-4">
                    <div class="main_home_content owl-carousel owl-theme owl-responsive--1 owl-loaded">
                        <div class="owl-item active" style="width: 750px; margin-right: 0px;">
                            <div>
                                <div class="main_home wow fadeInUp animated" data-wow-duration="700ms" style="visibility: visible; animation-duration: 700ms; animation-name: fadeInUp;">
                                    <h1>{{carouselHeader1}}</h1>
                                    <h2 class="subtitle">{{carouselHeader2}}</h2>
                                </div>
                            </div>
                        </div>
                        <div class="owl-controls">
                            <div class="owl-dots" style="">
                                <div class="owl-dot active">
                                    <span></span>
                                </div>
                                <div class="owl-dot">
                                    <span></span>
                                </div>
                                <div class="owl-dot">
                                    <span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div *ngIf="isPage('home')" [innerHTML]="pageLayout"></div>
<section class="main-content" *ngIf="isPage('other')" [innerHTML]="pageLayout">
</section>
<section class="main-content" *ngIf="isPage('blog-and-news')">
    <app-blog-news></app-blog-news>
</section>
<div [innerHTML]="footer"></div>

<footer id="footer" class="footer">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <div class="copyright_text text-center">
                    <p class=" wow fadeInRight" data-wow-duration="1s">Made with
                        <i class="fa fa-heart"></i> by Solstice IT Solutions 2018. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </div>
</footer>



<!-- START SCROLL TO TOP  -->

<div class="scrollup">
    <a href="#">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>