<section id="branding-wrapper">
    <div class="section1" style="">
        <div class="container">
            <div class="row sec1">
                <div class="col-sm-12">
                    <header>
                        <h1 class="article-header">IVF Procedure
                        </h1><div class="separator4"></div>
                    </header>
                    <p>
                        Each year, lots of couples try to conceive a child; unluckily many cannot. In vitro fertilization is the main option to get
                        a baby. IVF is one type of technique that performs fertilization outside body of the woman.
                    </p>
                    <p>
                        Firstly IVF was established to overcome infertility conditions due to complications in the fallopian tubes, but it was found that the procedure was successful also in other cases of infertility. For a successful IVF treatment, is essential to have healthy oocytes, sperm that can fertilize, and a uterus that can continue a pregnancy. IVF can also be used in menopausal women, using oocytes from a donor. It is also a technique that can be considered in patients who have undergone a total loss of fertility due to serious diseases.
                    </p>
                    <p>The use of IVF technology to help human reproduction in the treatment of infertility has helped many people who are without the joy of parenting due to many reasons. Assisted reproductive technologies also need the use of sperm, eggs from third parties who are expected to play a role in raising the child. IVF is recommended if you have blocked fallopian tube (or) IVF treatment can permit a woman to have a child if she does not have a uterus (or) used to overcome unexplained infertility (or) low sperm counts (or) advanced female age.</p>
                    <p>In vitro fertilization is a special way to create family. IVF is used to become pregnant as a direct result of the intervention, it is the dream of most men and women to become parents and have children to love and care for. It is one of the ultimate blessings in a lifetime to become a parent.</p>
                    <p>IVF is a primary treatment option and it is a multi-step process that involves the use of ovulation medicine to make egg production and improve the number of eggs that can be retrieved. In order to go through in vitro fertilization (IVF), patients will need to be in good overall health. In addition to keeping a well diet & exercise, you should also avoid alcohol use. These mentions apply to both man & woman; in the meantime positive lifestyle habits can help healthy sperm. We will help you and your partner understand how to prepare during a personal discussion. By way of following the doctor’s recommendations as closely as possible, you can reach the best results.</p>
                </div>
            </div>
        </div>
    </div>
</section>