<section id="home" class="home text-right" style="margin-top:100px;">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-4">
                    <div class="main_home_content">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="branding-wrapper">
    <div class="section1" style="">
        <div class="container">
            <div class="row sec1">
                <div class="col-sm-12">
                    <header>
                        <h1>Pre Implantation Genetic Screening
                        </h1>
                    </header>
                    <p><b>Embryo Screening</b></p>
                    <p>Pre implantation genetic screening is an advanced medical technique used to identify your embryos for chromosomal disorders. These disorders are produced in embryos through in vitro fertilization to stop particular diseases from being passed on to the child.</p>
                    <p>For the duration of screening, this single cell is detached from the embryo & tested. This cell culture is normally implemented three to four days after fertilization. When the cell has been detached, its chromosomal material can be analyzed and based on the results of genetic tests so parents are capable to select which embryos to insert.</p>
                    <p>Pre implantation Genetic diagnosis and In vitro fertilization:</p>
                    <p>Pre-implantation genetic diagnosis (PGD) joins with the improvements in genetics with assisted reproductive technology (ART). PGD is performed at the time of in vitro fertilization (IVF), in which sperm and egg are combined in a laboratory dish. Using IVF, a number of embryos are created at a time. With PGD, the embryos can be screened before they are moved into the uterus. This testing helps IVF doctors and patients select which embryos to transfer, this resulting in the birth of hundreds of healthy babies.</p>
                    <p>This PGD testing is useful for possible candidates with chromosomal disorders, Carriers of single gene disorders, advanced maternal age, history of recurrent miscarriages, recurring pregnancy loss.</p>
                    <p>The process is usually used to:</p>
                    <ol style="list-style-type: decimal; padding-left: 2em;">
                        <li><p>Screen out embryos carrying a genetic disease.</p></li>
                        <li><p>Predict the risk of disease.</p></li>
                        <li><p>Improve birth rates of healthy babies following ART.</p></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>