<section id="home" class="home text-right" style="margin-top:100px;">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-4">
                    <div class="main_home_content">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="branding-wrapper">
    <div class="section1" style="">
        <div class="container">
            <div class="row sec1">
                <div class="col-sm-12">
                    <header>
                        <h1>Cryopreservation
                        </h1>
                        <h5 style="font-family:latolight;">Conservation of Embryos</h5>
                    </header>
                    <p>Cryopreservation is a process where cells or whole tissues are preserved.</p>
                    <p>Cryopreservation—the ability to freeze and thaw Eggs/Sperm and Embryos is a great advantage in ART setting
                        because frozen tissue can be stored indefinitely in liquid nitrogen at -196°C. The freezing of human
                        sperm is an old and well recognised procedure that has resulted in the birth of millions of children
                        worldwide</p>
                    <p>
                        <b>Sperm Freezing</b>
                    </p>
                    <p>Not only can partner or donor sperm be frozen for IVF or IUI at a later date, but sperm banking provides
                        ART clinic and couple with a backup option if a sample cannot be collected on demand or if sample
                        quality is poor on the day eggs are available.</p>
                    <p>
                        <b>Oocyte Banking</b>
                    </p>
                    <p>The cryopreservation of human oocytes/eggs would be advantageous to the patient with ovarian disease
                        or any other condition that limits egg production. Moreover, freezing oocytes circumvents the ethical
                        issues associated with embryo freezingand is now very commonly done.</p>
                    <p>Cryopreservation of eggs is used for young women who would like to preserve their fertility and also
                        for women undergoing chemotherapy or Radio therapy for different kinds of cancer.</p>
                    <p>
                        <b>Embryo Freezing</b>
                    </p>
                    <p>
                        Embryo cryopreservation is an established procedure that has been employed successfully for nearly 20 years. Embryo freezing
                        is used to provide alternatives for the ART couple for whom the risk of multiple pregnancy restricts
                        the number of embryos that can be transferred during the treatment cycle.
                    </p>
                    <p>
                        Additionally, embryo banking is done when embryos cannot be transferred during the egg pickup cycle. Another advantage to
                        embryo freezing is that embryo thaw and transfer can be conducted in a natural cycle when the patient
                        has not been subjected to controlled ovarian stimulation with exogenous hormones and the concentration
                        is solely on developing the Endometrial lining for transfer.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>