<section id="home" class="home text-right" style="margin-top:100px;">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-4">
                    <div class="main_home_content">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="branding-wrapper">
    <div class="section1" style="">
        <div class="container">
            <div class="row sec1">
                <div class="col-sm-12">
                    <header>
                        <h1>Intra Cyto Sperm Injection
                        </h1>
                    </header>
                    <p><b>Options for Male Infertility Treatment:</b></p>
                    <p>The intra cytoplasmic sperm injection (ICSI) treatment largely solves the problems of male infertility. Intra Cytoplasmic Sperm Injection (ICSI) is an effective technique, which includes the injection of a single sperm into each egg and it offers hope to men with severe male factor infertility. It gives a better chance that a healthy sperm meets a healthy egg. It helps in improving fertilization phase of in- Vitro Fertilization (IVF) through injection of single sperm into mature egg which is then  culured in an incubator for 2 to 5 days and then placed in a woman uterus.</p>
                    <p><b>Who must be treated with ICSI?</b></p>
                    <p>ICSI is perfectly suitable for cases of very low sperm count or zero count, sperm with little or no motility and many sperm with abnormal shapes. ICSI benefits women who are advanced in age, those with endometriosis, immunological complications and unexplained infertility.</p>
                    <p>ICSI is a most successful form of assisted reproductive technology, through the ICSI procedure; many couples with difficult male factor infertility problems have achieved pregnancy at veenusivf. With the range of infertility treatment options we can treat any kind of infertility to assist you in the most innovative way of conceiving your own child. It is best and leading fertility clinic in creating families through infertility treatments.</p>
                    <p><b>Advantages:</b></p>
                    <ul style="list-style-type: decimal; padding-left: 2em;">
                        <li>
                            <p>This process is very good way to achieve parenthood.</p>
                        </li>
                        <li>
                            <p>It can also be used to aid couples with unexplained causes.</p>
                        </li>
                        <li>
                            <p>It is well established technique to treat male fertility issues.</p>
                        </li>
                        <li>
                            <p>By using this treatment thousands of children to be born around the world.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>