<nav style="height: 80px">
  <div class="main-nav navbar-collapse collapse" *ngIf="userInfo != null">
    <div class="container">
      <div class="minilogo">
        <div class="navbar-brand">
          CMS
        </div>
      </div>
      <ul class="nav nav-justified">
        <li>
          <a href="#/blog">BLOG</a>
        </li>
        <li>
          <a href="#/contact">CONTACT</a>
        </li>
        <li>
          <a href="#/admin/article-editor">Article Editor</a>
        </li>
      </ul>
    </div>
  </div>
  <button class="btn" (click)="logout()" *ngIf="userInfo != null" style="position: fixed; top: 0; right: 0; height: 80px; padding: 0; margin: 0; min-width: 80px !important;">
    <span class="fa fa-sign-out"></span>
  </button>

  <div class="main-nav navbar-collapse collapse" *ngIf="userInfo == null">

    <div class="minilogo">
      <h1 class="navbar-brand" style="line-height: 40px;">
        CMS
      </h1>
    </div>
    <ul class="nav nav-justified">
      <li>
        <a class="active" href="#home">Login</a>
      </li>
    </ul>
  </div>
</nav>

<section id="home" style="padding-top: 80px;">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <br>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>
