<div class="container">
    <section class="pageList">
        <h2>All Pages</h2>
        <ul>
            <li *ngFor="let page of pages" class="list-unstyled">
                <figure class="figure">
                    <img class="figure-img img-fluid rounded" alt={{page.PageTitle}} style="vertical-align: center;width:200px; height: auto;"
                        src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22400%22%20height%3D%22300%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20400%20300%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1615c664aad%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A20pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1615c664aad%22%3E%3Crect%20width%3D%22400%22%20height%3D%22300%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22148.859375%22%20y%3D%22159%22%3E400x300%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E">
                    <figcaption class="figure-caption">
                        <a (click)="getPageInfo(page.Id)">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                        <a (click)="deletePage(page)">Delete</a>
                    </figcaption>
                </figure>
            </li>
        </ul>
    </section>

    <button (click)="toggleForm()" class="btn btn-default right">
        <span [hidden]="!onChangingProgress">Close</span>
        <span [hidden]="onChangingProgress">Add new Page</span>
    </button>

    <section class="form" [hidden]="!onChangingProgress">
        <form>
            <div class="form-control">
                <h2>Please fill the details below for setting up page for the menu:</h2>
                <div class="col-12">
                    <div class="form-group row">
                        <label for="Name" class="col-form-label">Menu Title</label>
                        <div class="col-4">
                            <input type="text" class="form-control" name="Name" [(ngModel)]="currentMenu.Name" />
                        </div>
                        <div class="col-1"></div>
                        <div class="col-4">
                            <select [(ngModel)]="currentMenu.ParentId" name="ParentId" class="form-control pull-left">
                                <option value="">Select a parent menu</option>
                                <option *ngFor="let menu of menus">{{menu.Name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="PageTitle" class="col-form-label">Page Title</label>
                        <div class="col-6">
                            <input type="text" class="form-control" name="PageTitle" [(ngModel)]="currentPage.PageTitle" />
                        </div>
                    </div>
                </div>
                <ck-editor name="Content" [(ngModel)]="currentPage.Content" skin="moono-lisa" lang="en" [fullPage]="true">
                </ck-editor>
                <div class="row">
                    <div class="col-12  text-right">
                        <button type="button" (click)="savePage()" class="btn btn-primary right">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </section>
    <section class="templates">
        <ul class="list-unstyled">
            <li *ngFor="let template of templates">
                <a (click)="selectedTemplate(template)">
                    <iframe style="max-height:200px;max-width:200px" [innerHTML]="template"></iframe>
                </a>
            </li>
        </ul>
    </section>
</div>