<section id="home" class="home text-right" style="margin-top:100px;">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-4">
                    <div class="main_home_content">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="branding-wrapper">
    <div class="section1" style="">
        <div class="container">
            <div class="row sec1">
                <div class="col-sm-12">
                    <header>
                        <h1 class="article-header">Operative Video Laparoscopy
                        </h1>
                    </header>
                    <p>
                        Operative Video Laparoscopy is a medical procedure that includes which insertion of small telescope instrument over a small notch in the belly button and is capable to move video images of the pelvis onto a screen. This permits visualizing of the abdominal & pelvic organs including the area of the uterus, fallopian tubes and ovaries. This procedure allows us to decide whether there are any defects such as scar tissue, endometriosis, fibroid tumors and other abnormalities of the uterus, fallopian tubes and ovaries. If any defects are found then they can be rectified with operative laparoscopy.
                    </p>
                    <p>
                        It can also help physicians identify and correct many pregnancy problems on an outpatient basis. Your physician may recommend this process as part of your evaluation. Laparoscopy is sometimes suggested after completing an initial infertility evaluation on both partners. A laparoscopy is generally preformed under general anesthesia and normally proceeds between half-an-hour (or) an hour in duration. Before experiencing laparoscopy, patients should converse with their physicians about the procedures and their positive possibilities. And this instrument make it us to start immediate treatment is possible for those who are having problems in conceiving.
                    </p>
                    <p><b>Uses:</b></p>
                    <p>Operative video Laparoscopy is used to identify the cause of infertility and abdominal pain, infertility, or other difficulties in the female reproductive organs.</p>
                </div>
            </div>
        </div>
    </div>
</section>